<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NumberKey.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <NumberKey.My.MySettings>
            <setting name="NumberKeyLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="NuberKeySize" serializeAs="String">
                <value>280, 260</value>
            </setting>
            <setting name="NumberKeyFont" serializeAs="String">
                <value>Yu Gothic UI, 12pt, style=Bold</value>
            </setting>
        </NumberKey.My.MySettings>
    </userSettings>
</configuration>
